<!DOCTYPE html>
{% load static %}
{% load to_replace %}
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Cake Team</title>
</head>
<body class="d-flex flex-column h-100">

<main class="flex-shrink-0">
<nav id="nav-color" class="navbar navbar-expand-lg border-bottom navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fs-2"><i class="bi bi-person fa-md text-light"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
      <ul class="navbar-nav offer-text">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'staff_orders' %}">Задания</a>
        </li>
        {% if user.staff.unlimited == False %}
        <li class="nav-item">
            <a class="nav-link" href="#">Пополнить баланс <span class="offer-text"> ({{ user.staff.balance }} руб.)</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_edit' telegram_id=user.staff.telegram_id %}">Мой профиль</a>
        </li>
      </ul>
        {% else %}
        <ul class="navbar-nav offer-text">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Вход для кондитеров</a>
        </li>
      </ul>
        {% endif %}
    </div>
  </div>
</nav>

<div class="container-fluid mt-3 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <div id="first-form" class="container my-5 h-100">
        <form action="{% url 'quiz' %}" method="get">
            <div class="form-group">
                <div class="row justify-content-center">
                    <div class="col-5 col-md-3 col-lg-3">
                        <img src="{% static 'images/sticker1.png' %}" class="w-100">
                    </div>
                </div>
                 <div class="row mb-2">
                    <div class="col-12">
                        <h2 class="brand-text text-center">CAKE TEAM</h2>
                        <p class="text-center action-text">Найди за пару минут кондитера, который выполнит любой твой заказ.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input id="first-input" class="input-title form-control form-control-lg" type="text" placeholder="Что хотите заказать?" name="title">
                    </div>
                </div>
                <div class="row mt-2 justify-content-center">
                    <div class="col-12">
                        <p class="offer-text text-muted">Например: <a class="add-to-input text-dark" href="#">торт на день рождения</a>, <a class="add-to-input text-dark" href="#">макаронс сегодня</a></p>
                    </div>
                    <div class="col-8 text-center">

                        <input type="submit" class="blue-btn text-center mb-5 w-100" value="НАЙТИ КОНДИТЕРА">

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<!--Второй экран-->
<div id="second-screen" class="container-fluid pt-2 pb-5">
    <div class="container">
        <div class="row">
            <h3 class="title-text text-center my-5">Как это работает?</h3>
        </div>

        <div class="row row-fix justify-content-center mt-2">
            <div class="col-2 col-md-1 col-lg-1">
                <img src="{% static 'images/ready.png' %}" class="w-100 text-center">
            </div>
            <div class="col-9">
                <p class="label-text text-left">Простота в использовании платформы: с вас ответы на несколько. С нас — подбор кондитеров, которые готовы выполнить заказ</p>
            </div>
        </div>


        <div class="row row-fix justify-content-center mt-2">
            <div class="col-2 col-md-1 col-lg-1">
                <img src="{% static 'images/chef.png' %}" class="w-100 text-center">
            </div>
            <div class="col-9">
                <p class="label-text text-left">Возможность найти «своего» мастера без листания Инстаграм по несколько часов и переписок в стиле «подскажите, сможете ли вы выполнить заказ к пятнице?»</p>
            </div>
        </div>

        <div class="row row-fix justify-content-center mt-2">
            <div class="col-2 col-md-1 col-lg-1">
                <img src="{% static 'images/rating.png' %}" class="w-100 text-center">
            </div>
            <div class="col-9">
                <p class="label-text text-left">Прозрачная система: вы получаете ссылки на работы, отзывы других покупателей и рейтинг самого кондитера</p>
            </div>
        </div>
    </div>
</div>








</main>
<footer class="footer mt-auto">
    <div id="footer" class="container-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <span class="text-light label-text">Caketeam ©</span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><a class="text-light" href="#">Пользовательское соглашение</a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><i class="bi bi-instagram"></i> <a class="text-light" href="#">caketeam </a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <br><span class="text-light offer-text">Тех.поддержка:</span> <span class="text-light label-text"><i class="bi bi-telegram"></i> <a class="text-light" href="https://t.me/i1ness">@i1ness </a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static "js/landing.js" %}"></script>
</html>