<!DOCTYPE html>
{% load to_replace %}
{% load static %}
{% load mean_rating %}
{% load count_done_orders %}
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Оставить отклик</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
<nav class="navbar navbar-expand-lg border-bottom navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fs-2"><i class="bi bi-person fa-md text-muted"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
      <ul class="navbar-nav offer-text">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'staff_orders' %}">Задания</a>
        </li>
        {% if user.staff.unlimited == False %}
        <li class="nav-item">
            <a class="nav-link" href="#">Пополнить баланс <span class="offer-text"> ({{ user.staff.balance }} руб.)</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_edit' telegram_id=user.staff.telegram_id %}">Мой профиль</a>
        </li>
      </ul>
        {% else %}
        <ul class="navbar-nav offer-text">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Вход для кондитеров</a>
        </li>
      </ul>
        {% endif %}
    </div>
  </div>
</nav>


    <div class="container mt-3 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h5 class="text-center">Отклик к заданию {{ order.set_numb_of_order }}</h5>
        <a href="{% url 'staff_orders' %}" class="link-text"><i class="bi bi-arrow-left"></i>Другие задания</a>
        <hr>
        <!--Экранирование html-->
        {% autoescape off %}
        <p class="fs-9">{{ order.note|to_replace }}</p>
        {% endautoescape %}

        <!--Карусель с референсными фото-->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            {% for image in order.reference_images.all %}
                {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                <img src="{{ image.image.url }}" class="d-block w-100">
                </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>




        <p class="mt-3"><span class="label-text text-muted">Количество откликов:</span><span class="price-text"> {{ amount_responds }} из {{ order.max_responds }}</span>
        {% if staff.unlimited == False %}
        <br><span class="label-text text-muted">Стоимость отклика:</span><span class="price-text"> {{ order.respond_price }} руб.</span>
        <br><span class="label-text text-muted">Ваш баланс:</span><span class="price-text"> {{ staff.balance }} руб.</span> <a href="#"><small class="offer-text">пополнить</small></a>
        {% endif %}
        </p>
        <hr>



        <!-- Проверка что у него нет отклика  -->
        {% if amount_responds < order.max_responds and respond == None %}
        <div class="row row justify-content-center mb-5">
            <a data-bs-toggle="modal" data-bs-target="#addRespond" class="col-10 btn btn-success">Откликнуться на задание</a>
        </div>
        <div>

        </div>
        <!--МОДАЛЬНОЕ ОКНО ДЛЯ ПЕРВИЧНОЙ ОТПРАВКИ ОТКЛИКА-->
        <div class="modal fade" id="addRespond" tabindex="-1" aria-labelledby="ModalLabel3" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel4">Добавить отклик</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="addrespond-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-muted label-text" for="message">Текст отклика:</label>
                        <textarea class="form-control form-control-sm form-rounded" id="message" name="message" rows="6"></textarea>
                    </div>
                    <div class="form-group my-2">
                        <div class="row">
                            <div class="col-6">
                                <label class="text-muted label-text" for="instagram">Мой Instagram:</label>
                                <input type="text" class="form-control form-control-sm" id="instagram" name="instagram" value="@{{ staff.instagram }}" disabled>
                            </div>
                            <div class="col-6">
                                <label class="text-muted label-text" for="whatsapp">Мой Whatsapp:</label>
                                <input type="text" class="form-control form-control-sm" id="whatsapp" name="whatsapp" value="+{{ staff.phone }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <label class="text-muted label-text" for="images">Фото работ</label>
                        <input type="file" accept=".jpg, .jpeg, .png" class="form-control form-control-sm" id="images" name="images" multiple>
                        <div id="foto-error" class="invalid-feedback">
                            <p class="offer-text">Суммарно не более 6 фотографий.</p>
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <div class="row">
                            <div class="col-6">
                                <label class="text-muted label-text" for="price">Цена:</label>
                                <input type="text" class="form-control form-control-sm" id="price" name="price">
                            </div>
                            <div class="col-6">
                                {% if user.is_authenticated %}
                                 <label class="text-muted label-text" for="pin1">pin</label>
                                 <input type="text" class="form-control form-control-sm" id="pin1" name="pin" value="{{ staff.pin }}">
                                {% else %}
                                 <label class="text-muted label-text" for="pin2">pin</label>
                                 <input type="text" class="form-control form-control-sm" id="pin2" name="pin">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if has_balance or staff.unlimited == True %}
                    <div class="d-grid gap-2 mt-2">
                        {% if staff.unlimited == True %}
                        <small class="offer-text text-muted">Нажимая кнопку "Откликнуться" отклик с вашими контактными данными будет отправлен заказчику. Закачик свяжется с вами, если ваш отклик его заинтересует.</small>
                        {% else %}
                        <small class="offer-text text-muted">Нажимая кнопку "Откликнуться" с баланса будут списаны {{ order.respond_price }} руб. и отклик с вашими контактными данными будет отправлен заказчику. Закачик свяжется с вами, если ваш отклик его заинтересует.</small>
                        {% endif %}
                        <input id="first-submit" class="btn btn-success btn-md form-rounded" type="submit" value="Откликнуться">
                    </div>
                    {% else %}
                    <div class="d-grid gap-2 mt-2">
                        <small class="offer-text text-muted">Для того, чтобы отправить свой отклик клиенту с вашими контактными данными требуется пополнить баланс. Для отклика требуется {{ order.respond_price }} руб., а ваш баланс равен {{ staff.balance }} руб..</small>
                        <button class="btn btn-danger btn-md form-rounded" disabled>Пополните баланс</button>
                    </div>
                    {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>

    {% elif respond %}


    <p class="label-text">Вы уже оставили отклик. Так его видит заказчик:</p>
        <div class="row mt-3 mb-2">
            <div class="col-3 mt-2">
                {% if respond.staff.avatar == '' %}
                <img src="{% static 'images/ava.jpg' %}" class="avatar">
                {% else %}
                <img src="{{ respond.staff.avatar.avatar.url }}" class="responds-block avatar">
                {% endif %}
            </div>
            <div class="col-9">
                <p class="staff-info mt-1">
                    <span class="name-text text-primary">{{ respond.staff.name }} {{ respond.staff.surname|slice:":1" }}.</span><br>
                    {% if respond.staff.reviews.all.count > 0 %}
                    <span class="offer-text text-warning"><i class="bi bi-star-fill"></i> <span class="text-muted">{{ respond|mean_rating }} отзывов: {{ respond.staff.reviews.all.count }}</span></span><br>
                    {% else %}
                    <span class="offer-text text-warning"><i class="bi bi-star"></i> <span class="text-muted"> Нет отзывов</span></span><br>
                    {% endif %}
                    <span class="offer-text text-muted">Выполнено заказов: {{ respond.staff.orders.all|count_done_orders }}</span></p>
                    <p class="staff-info mt-1"> <span class="mt-2 offer-text">Моё портфолио и контакты:<br>
                    <a data-id="{{ respond.id }}" class="contacts insta-hint" href="https://instagram.com/{{ respond.staff.instagram }}"><i class="bi bi-instagram instagram"></i>  instagram.com/{{ respond.staff.instagram }}</a><br>
                    <a data-id="{{ respond.id }}" class="contacts wa-hint" href="https://wa.me/{{ respond.staff.phone }}"><i class="bi bi-whatsapp text-success"></i>  +{{ respond.staff.phone }}</a></span>
                </p>
            </div>
        </div>


        <div class="container responds-block py-3">
            <div class="container">
                <p class="price-text">Стоимость: <b>{{ respond.price }} ₽</b></br>
                <span class="add-text text-muted">Свяжитесь с кондитером, чтобы определить точную цену.</span></p>
                <hr>
                <p class="label-text">{{ respond.text|linebreaksbr }}</p>
            </div>

                <!--        Если одно фото без галереи            -->
                {% if respond.images.all.count == 1 %}
                <div class="row">
                    {% with respond.images.all|first as img %}
                    <div class="col-12 my-2 text-center">
                        <img src="{{ img.image.url }}" class="image-fluid rounded first-img">
                    </div>
                    {% endwith %}
                </div>

                <!--        Если есть галерея с выбором            -->
                {% elif respond.images.all.count > 1 %}
                <div class="row">
                    {% with respond.images.all|first as img %}
                    <div class="col-12 my-2 text-center">
                        <img id="main-foto" src="{{ img.image.url }}" class="image-fluid rounded first-img">
                    </div>
                </div>
                <div id="gallery-row" class="row align-items-center">
                    {% for image in respond.images.all %}
                    <div class="col-4 mb-3 text-center gallery-col">
                        {% if forloop.counter == 1 %}
                        <a class="gallery-foto" data-id="{{ img.id }}"><img src="{{ image.image.url }}" class="responds-img active-img rounded"></a>
                        {% else %}
                        <a class="gallery-foto" data-id="{{ img.id }}"><img src="{{ image.image.url }}" class="responds-img rounded"></a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                    {% endwith %}
                {% endif %}

                <div class="row mt-2 my-3">
                    <div class="col-7">
                    <a href="https://wa.me/{{ respond.staff.phone }}" data-id="{{ respond.id }}" class="btn btn-outline-dark btn-md form-rounded w-100 wa-hint">Написать в WA <i class="bi bi-whatsapp text-dark"></i></a>
                    </div>
                    <div class="col-5">
                        <button class="btn btn-success btn-md form-rounded w-100" disabled>Выбрать</button>
                    </div>
                    <div class="text-center mt-3">
                        {% if order.status == "FIND" %}
                        <small><a class="offer-text" data-bs-toggle="modal" data-bs-target="#editRespond">Редактировать отклик</a></small>
                        {% endif %}
                    </div>
                </div>
        </div>
        <p class="add-text mt-2 text-muted text-end me-4">{{ respond.date }}</p>

        <!-- МОДАЛЬНОЕ ОКНО  -->
        <div class="modal fade" id="editRespond" tabindex="-1" aria-labelledby="ModalLabel3" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel3">Редактировать отклик</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="editrespond-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-muted label-text" for="message2">Текст отклика:</label>
                        <textarea class="form-control form-control-sm form-rounded" id="message2" name="message" rows="6">{{ respond.text }}</textarea>
                    </div>
                    <small class="label-text text-muted mt-3">Удалить фото:</small>
                      <div class="row">
                        {% for image in respond.images.all %}
                        <div id="{{ image.id }}" class="col-2 my-2 text-center er">
                            <a data-id="{{ image.id }}" class="remove-foto text-danger" href="#"><img src="{{ image.image.url }}" class="image-fluid rounded form-img border border-2 border-danger" alt="..."></a>
                        </div>
                        {% endfor %}
                        <a class="refresh-icon text-success"><i class="bi bi-x-square"></i><span class="offer-text align-middle"> отменить</span></a>

                      </div>

                    <div class="form-group my-2">
                        <label class="text-muted label-text" for="images2">Добавить фото:</label>
                        <input type="file" accept=".jpg, .jpeg, .png" class="form-control form-control-sm" id="images2" name="images" multiple>
                        <div id="foto-error2" class="invalid-feedback">
                            <p class="offer-text">Суммарно не более 6 фотографий.</p>
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <div class="row">
                            <div class="col-6">
                                <label class="text-muted label-text" for="price2">Цена:</label>
                                <input type="text" class="form-control form-control-sm" id="price2" name="price" value="{{ respond.price }}">
                            </div>
                            <div class="col-6">
                                {% if user.is_authenticated %}
                                 <label class="text-muted label-text" for="pin3">pin</label>
                                 <input type="text" class="form-control form-control-sm" id="pin3" name="pin" value="{{ staff.pin }}">
                                {% else %}
                                 <label class="text-muted label-text" for="pin4">pin</label>
                                 <input type="text" class="form-control form-control-sm" id="pin4" name="pin">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 my-3">
                        <input id="change" class="btn btn-success btn-md form-rounded" type="submit" value="Редактировать">
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        {% elif amount_responds >= order.max_responds %}
        <p class="label-text text-danger">К сожалению, отклик к этому заданию больше нельзя оставить, так как превышено максимальное количество откликов.</p>
        <p>Если потребуются дополнительные отклики, вам придет уведомление.</p>

        {% endif %}
    </div>
    </div>

</main>
<footer class="footer mt-auto">
    <div id="footer" class="container-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <span class="text-light label-text">Caketeam ©</span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><a class="text-light" href="#">Пользовательское соглашение</a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><i class="bi bi-instagram"></i> <a class="text-light" href="#">caketeam </a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <br><span class="text-light offer-text">Тех.поддержка:</span> <span class="text-light label-text"><i class="bi bi-telegram"></i> <a class="text-light" href="https://t.me/i1ness">@i1ness </a></span>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
          var images = []
          $(".remove-foto").on("click", function(e) {
                e.preventDefault();
                var dataId = $(this).attr("data-id")
                images.push(dataId);
                $(`#${dataId}`).css("display", "none");
                $(".refresh-icon").css("display", "block");
          });

          $(".refresh-icon").on("click", function(e) {
                for (var dataId of images) {
                $(`#${dataId}`).css("display", "block");
                }
                images.splice(0, images.length);
                $(".refresh-icon").css("display", "none");
          });

          $("#change").on("click", function(e) {
                var imageMain = $('#main-foto').length;
                var imagesAmount1 = $('.gallery-foto').length;
                var imagesAmount2 = $('#images2').get(0).files.length;
                if (imageMain === 1 && imagesAmount1 == 0)  {
                    imagesAmount1 = 1;
                }
                if ((imagesAmount1 + imagesAmount2 - images) > 6) {
                    $("#editrespond-form #images2").addClass("is-invalid");
                    e.preventDefault();
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/delete/foto",
                        data: {
                            ids: images,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(result) {
                            console.log('Foto delete');
                        },
                        error: function(result) {
                            console.log('error');
                        }
                    });
                    }
          });

           $(".gallery-foto").on("click", function(e) {
                e.preventDefault();
                var imageUrl = $(this).children().attr("src");
                var imageId = $(this).attr("data-id");
                $("#main-foto").attr("src", imageUrl);
                $(`a[data-id="${imageId}"]`).children().removeClass("active-img");
                $(this).children().addClass("active-img");
           });


            $('#first-submit').click(function(e){
                var amountImages = $('#images').get(0).files.length;
                if (amountImages > 6) {
                $("#addrespond-form #images").addClass("is-invalid");
                e.preventDefault();
                }
            });

            $("form").submit(function() {
                $(this).submit(function() {
                    return false;
                });
                return true;
            });
});


</script>
</html>