<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <p>Номер заказа: {{ order.id }}</p>
        <p>Имя: {{ order.name }}</p>
        <p>Телефон: {{ order.phone }}</p>
        <p>Десерт: {{ order.type_of_cake }}</p>
        <p>Примечание: {{ order.message }}</p>
        <p>Комментарии:</p>
        {% for note in order.notes %}
        <p>{{ note.text }}</p>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="note">Добавить примечание к заказу</label>
                <textarea class="form-control my-2" id="note" name="note" rows="3"></textarea>
            </div>
            <input class="btn btn-primary btn-block" type="submit">
        </form>
    </div>

</body>
</html>