<!DOCTYPE html>
{% load to_replace %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
<style>
    .form-img {
        width: 3em;
        height: 3em;
    }
    .remove-foto {
        text-decoration: none;
        font-size: 0.8em;
    }
    .refresh-icon {
        text-decoration: none;
        font-size: 1em;
        display: none;
    }
    .form-rounded {
        border-radius: 0.7rem;
    }
    .label-text {
        font-size: 0.8em;
    }
    .price-text {
        font-size: 0.8em;
        font-weight: 500;
    }
    .name-text {
        font-weight: 500;
    }
    .offer-text {
        font-size: 0.7em;
    }
    .add-text {
        font-size: 0.55em;
        line-height: 90%;
    }
    #win_respond {
        background-color: #E6F1DA;
    }
    .responds-block {
        border-radius: 10px;
        width: 90%;
        background-color: #F6FEEB;
    }
    .responds-img {
        width: 100%;
    }
    .active-img {
        filter: brightness(0.3);
        width: 85%;

    }
    .first-img {
        width: 100%;
    }
    .avatar {
        width: 100%;
    }

    .staff-info {
        line-height: 95%;
    }

    .order-info {
        line-height: 110%;
    }
    .contacts {

        color: black;
        font-size: 1.1em;
    }
    .instagram {
        color: #ba30b6;
    }
    .respond-card {
        margin-bottom: 5em;
    }
    .navbar-toggler {
        border: none !important;
    }
    #nav-icon {
       text-size: 2em !important;
    }
</style>

<nav class="navbar navbar-expand-md border-bottom navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fs-2"><i class="bi bi-person-circle fa-md text-dark"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Мой профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Пополнить баланс <span class="offer-text"> ({{ staff.balance }} руб.)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Задания</a>
        </li>
      </ul>
        {% else %}
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Войти</a>
        </li>
      </ul>
        {% endif %}
    </div>
  </div>
</nav>


    <div class="container mt-3 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h5 class="text-center">Отклик к заданию {{ order.set_numb_of_order }}</h5>
        <hr>
        <!--Экранирование html-->
        {% autoescape off %}
        <p class="price-text">{{ order.note|to_replace }}</p>
        {% endautoescape %}

        <p><span class="label-text text-muted">Количество откликов:</span><span class="price-text"> {{ amount_responds }} из {{ order.max_responds }}</span><br>
        <span class="label-text text-muted">Стоимость отклика:</span><span class="price-text"> {{ order.respond_price }} руб.</span><br>
        <span class="label-text text-muted">Ваш баланс:</span><span class="price-text"> {{ staff.balance }} руб.</span> <a href="#"><small class="offer-text">пополнить</small></a></p>
        <hr>

        <!-- Проверка что у него нет отклика  -->

        {% if amount_responds < order.max_responds and respond == None %}

        <form id="first-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="text-muted label-text" for="message">Текст отклика:</label>
                <textarea class="form-control form-control-sm form-rounded" id="message" name="message" rows="6"></textarea>
            </div>
            <div class="form-group my-2">
                <div class="row">
                    <div class="col-6">
                        <label class="text-muted label-text" for="instagram">Мой Instagram:</label>
                        <input type="text" class="form-control form-control-sm" id="instagram" name="instagram" value="@{{ staff.instagram }}" disabled>
                    </div>
                    <div class="col-6">
                        <label class="text-muted label-text" for="whatsapp">Мой Whatsapp:</label>
                        <input type="text" class="form-control form-control-sm" id="whatsapp" name="whatsapp" value="+{{ staff.phone }}" disabled>
                    </div>
                </div>
            </div>
            <div class="form-group my-2">
                <label class="text-muted label-text" for="images">Фото работ</label>
                <input type="file" accept=".jpg, .jpeg, .png" class="form-control form-control-sm" id="images" name="images" multiple>
                <div id="foto-error" class="invalid-feedback">
                    <p class="offer-text">Суммарно не более 6 фотографий.</p>
                </div>
            </div>
            <div class="form-group my-2">
                <div class="row">
                    <div class="col-6">
                        <label class="text-muted label-text" for="price">Цена:</label>
                        <input type="text" class="form-control form-control-sm" id="price" name="price">
                    </div>
                    <div class="col-6">
                        {% if user.is_authenticated %}
                         <label class="text-muted label-text" for="pin1">pin</label>
                         <input type="text" class="form-control form-control-sm" id="pin1" name="pin" value="{{ staff.pin }}">
                        {% else %}
                         <label class="text-muted label-text" for="pin2">pin</label>
                         <input type="text" class="form-control form-control-sm" id="pin2" name="pin">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if has_balance %}
            <div class="d-grid gap-2 mt-2">
                <small class="offer-text text-muted">Нажимая кнопку "Откликнуться" с баланса будут списаны {{ order.respond_price }} руб. и отклик с вашими контактными данными будет отправлен заказчику. Закачик свяжется с вами, если ваш отклик его заинтересует.</small>
                <input id="first-submit" class="btn btn-success btn-md form-rounded" type="submit" value="Откликнуться">
            </div>
            {% else %}
            <div class="d-grid gap-2 mt-2">
                <small class="offer-text text-muted">Для того, чтобы отправить свой отклик клиенту с вашими контактными данными требуется пополнить баланс. Для отклика требуется {{ order.respond_price }} руб., а ваш баланс равен {{ staff.balance }} руб..</small>
                <button class="btn btn-danger btn-md form-rounded" disabled>Пополните баланс</button>
            </div>
            {% endif %}
        </form>
    </div>

    {% elif respond %}


    <p class="label-text">Вы уже оставили отклик. Так его видит заказчик:</p>
        <div class="row mt-3 mb-2">
            <div class="col-3 mt-2">
                <img src="{{ respond.staff.avatar.url }}" class="responds-block avatar">
            </div>
            <div class="col-9">
                <p class="staff-info mt-1">
                <span class="name-text text-primary">{{ respond.staff.name }} S.</span><br>
                <span class="offer-text text-warning"><i class="bi bi-star-fill"></i> <span class="text-muted">4.9 359 отзывов</span></span><br>
                <span class="offer-text">Моё портфолио и контакты:<br>
                <a data-id="{{ respond.id }}" class="contacts insta-hint" href="https://instagram.com/{{ respond.staff.instagram }}"><i class="bi bi-instagram instagram"></i>  instagram.com/{{ respond.staff.instagram }}</a><br>
                <a data-id="{{ respond.id }}" class="contacts wa-hint" href="https://wa.me/{{ respond.staff.phone }}"><i class="bi bi-whatsapp text-success"></i>  +{{ respond.staff.phone }}</a></span>
                </p>
            </div>
        </div>


        <div class="container responds-block py-3">
            <div class="container">
                <p class="price-text">Стоимость: <b>{{ respond.price }} ₽</b></br>
                <span class="add-text text-muted">Свяжитесь с кондитером, чтобы определить точную цену.</span></p>
                <hr>
                <p class="label-text">{{ respond.text|linebreaksbr }}</p>
            </div>

                <!--        Если одно фото без галереи            -->
                {% if respond.images.all.count == 1 %}
                <div class="row">
                    {% with respond.images.all|first as img %}
                    <div class="col-12 my-2 text-center">
                        <img src="{{ img.image.url }}" class="image-fluid rounded first-img">
                    </div>
                    {% endwith %}
                </div>

                <!--        Если есть галерея с выбором            -->
                {% elif respond.images.all.count > 1 %}
                <div class="row">
                    {% with respond.images.all|first as img %}
                    <div class="col-12 my-2 text-center">
                        <img id="main-foto" src="{{ img.image.url }}" class="image-fluid rounded first-img">
                    </div>
                </div>
                <div id="gallery-row" class="row align-items-center">
                    {% for image in respond.images.all %}
                    <div class="col-4 mb-3 text-center gallery-col">
                        {% if forloop.counter == 1 %}
                        <a class="gallery-foto" data-id="{{ img.id }}"><img src="{{ image.image.url }}" class="responds-img active-img rounded"></a>
                        {% else %}
                        <a class="gallery-foto" data-id="{{ img.id }}"><img src="{{ image.image.url }}" class="responds-img rounded"></a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                    {% endwith %}
                {% endif %}

                <div class="row mt-2 my-3">
                    <div class="col-7">
                    <a href="https://wa.me/{{ respond.staff.phone }}" data-id="{{ respond.id }}" class="btn btn-outline-dark btn-md form-rounded w-100 wa-hint">Написать в WA <i class="bi bi-whatsapp text-dark"></i></a>
                    </div>
                    <div class="col-5">
                        <button class="btn btn-success btn-md form-rounded w-100" disabled>Выбрать</button>
                    </div>
                    <div class="text-center mt-3">
                        <small><a class="offer-text" data-bs-toggle="modal" data-bs-target="#editRespond">Редактировать отклик</a></small>
                    </div>
                </div>
        </div>
        <p class="add-text mt-2 text-muted text-end me-4">{{ respond.date }}</p>

        <!-- МОДАЛЬНОЕ ОКНО  -->
        <div class="modal fade" id="editRespond" tabindex="-1" aria-labelledby="ModalLabel3" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel3">Редактировать отклик</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="second-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-muted label-text" for="message2">Текст отклика:</label>
                        <textarea class="form-control form-control-sm form-rounded" id="message2" name="message" rows="6">{{ respond.text }}</textarea>
                    </div>
                    <small class="label-text text-muted mt-3">Удалить фото:</small>
                      <div class="row">
                        {% for image in respond.images.all %}
                        <div id="{{ image.id }}" class="col-2 my-2 text-center er">
                            <a data-id="{{ image.id }}" class="remove-foto text-danger" href="#"><img src="{{ image.image.url }}" class="image-fluid rounded form-img border border-2 border-danger" alt="..."></a>
                        </div>
                        {% endfor %}
                        <a class="refresh-icon text-success" href="#"><i class="bi bi-x-square"></i><span class="offer-text align-middle"> отменить</span></a>

                      </div>

                    <div class="form-group my-2">
                        <label class="text-muted label-text" for="images2">Добавить фото:</label>
                        <input type="file" accept=".jpg, .jpeg, .png" class="form-control form-control-sm" id="images2" name="images" multiple>
                        <div id="foto-error2" class="invalid-feedback">
                            <p class="offer-text">Суммарно не более 6 фотографий.</p>
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <div class="row">
                            <div class="col-6">
                                <label class="text-muted label-text" for="price2">Цена:</label>
                                <input type="text" class="form-control form-control-sm" id="price2" name="price" value="{{ respond.price }}">
                            </div>
                            <div class="col-6">
                                {% if user.is_authenticated %}
                                 <label class="text-muted label-text" for="pin3">pin</label>
                                 <input type="text" class="form-control form-control-sm" id="pin3" name="pin" value="{{ staff.pin }}">
                                {% else %}
                                 <label class="text-muted label-text" for="pin4">pin</label>
                                 <input type="text" class="form-control form-control-sm" id="pin4" name="pin">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 my-3">
                        <input id="change" class="btn btn-success btn-md form-rounded" type="submit" value="Редактировать">
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

        {% elif amount_responds >= order.max_responds %}
        <p class="label-text text-danger">К сожалению, отклик к этому заданию больше нельзя оставить, так как превышено максимальное количество откликов.</p>
        <p>Если потребуются дополнительные отклики, вам придет уведомление.</p>

        {% endif %}


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
          var images = []
          $(".remove-foto").on("click", function(e) {
                e.preventDefault();
                var dataId = $(this).attr("data-id")
                images.push(dataId);
                $(`#${dataId}`).css("display", "none");
                $(".refresh-icon").css("display", "block");
          });

          $(".refresh-icon").on("click", function(e) {
                for (var dataId of images) {
                $(`#${dataId}`).css("display", "block");
                }
                images.splice(0, images.length);
                $(".refresh-icon").css("display", "none");
          });

          $("#change").on("click", function(e) {
                var imageMain = $('#main-foto').length;
                var imagesAmount1 = $('.gallery-foto').length;
                var imagesAmount2 = $('#images2').get(0).files.length;
                if (imageMain === 1 && imagesAmount1 == 0)  {
                    imagesAmount1 = 1;
                }
                if ((imagesAmount1 + imagesAmount2 - images) > 6) {
                    $("#second-form #images2").addClass("is-invalid");
                    e.preventDefault();
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/delete/foto",
                        data: {
                            ids: images,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(result) {
                            console.log('Foto delete');
                        },
                        error: function(result) {
                            console.log('error');
                        }
                    });
                    }
          });

           $(".gallery-foto").on("click", function(e) {
                e.preventDefault();
                var imageUrl = $(this).children().attr("src");
                var imageId = $(this).attr("data-id");
                $("#main-foto").attr("src", imageUrl);
                $(`a[data-id="${imageId}"]`).children().removeClass("active-img");
                $(this).children().addClass("active-img");
           });


            $('#first-submit').click(function(e){
                var amountImages = $('#images').get(0).files.length;
                if (amountImages > 6) {
                $("#first-form #images").addClass("is-invalid");
                e.preventDefault();
                } else {
                console.log("ok");
                }
            });
});


</script>
</html>