<!DOCTYPE html>
{% load static %}
{% load range_rating %}
{% load count_done_orders %}
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Кондитер {{ staff.name }} {{ staff.surname }}</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
<nav class="navbar navbar-expand-lg border-bottom navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fs-2"><i class="bi bi-person fa-md text-muted"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
      <ul class="navbar-nav offer-text">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'staff_orders' %}">Задания</a>
        </li>
        {% if user.staff.unlimited == False %}
        <li class="nav-item">
            <a class="nav-link" href="#">Пополнить баланс <span class="offer-text"> ({{ user.staff.balance }} руб.)</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_edit' telegram_id=user.staff.telegram_id %}">Мой профиль</a>
        </li>
      </ul>
        {% else %}
        <ul class="navbar-nav offer-text">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Вход для кондитеров</a>
        </li>
      </ul>
        {% endif %}
    </div>
  </div>
</nav>

<div class="container mt-3 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    {% if request.user == staff.user %}
    <a class="offer-text" href="{% url 'profile_edit' staff.telegram_id %}">Редактировать</a>
    {% endif %}
    <h3 class="mb-4 mt-2 fw-bolder">{{ staff.name}} {{ staff.surname }}</h3>
    <div class="row">
        <div class="col-6">
            {% if staff.avatar == '' %}
            <img src="https://d1rscgf2gt4l52.cloudfront.net/media/avatars/ava.jpeg" class="avatar">
            {% else %}
            <img src="{{ staff.avatar.avatar.url }}" class="avatar">
            {% endif %}
        </div>

        <div class="col-6">
            <p class="label-text">
                {% if rating == 0 %}
                <span class="label-text text-warning"><i class="bi bi-star"></i> <span class="text-muted"> Нет отзывов</span></span><br>
                {% else %}
                <span class="fa-2 text-warning label-text"><i class="bi bi-star-fill"></i> <span class="text-muted">{{ rating }} отзывов: {{ staff.reviews.all.count }}</span></span><br>
                {% endif %}
                <span class="label-text text-muted">Выполнено заказов: {{ staff.orders.all|count_done_orders }}</span>
            </p>
        </div>

    </div>
    <hr>
    <p class="mt-4"><span class="big-text ">Обо мне:</span></p>
    <div id="info">
        <p class="label-text">{{ staff.info|linebreaksbr }}</p>
    </div>


    <hr>

    <p class="mt-4"><span class="big-text ">Контактные данные:</span></p>
    <div id="contacts" class="container fs-3 fw-normal">
        <a class="text-dark linkcontacts-text" href="https://wa.me/{{ staff.phone }}"><i class="bi bi-whatsapp text-success"></i> <span class="fs-6 fw-bolder align-middle">+{{ staff.phone }}</span></a><br>
        <a class="text-dark linkcontacts-text" href="https://instagram.com/{{ staff.instagram }}"><i class="bi bi-instagram instagram"></i> <span class="fs-6 fw-bolder align-middle">instagram.com/{{ staff.instagram }}</span></a>
    </div>

    <hr>

    <p class="mt-4"><span class="big-text ">Работаю по городам:</span></p>

    <div id="cities-list" class="container">
        <div class="row justify-content-center">
            <div id="cities1" class="col-12">
                {% if cities|first|length == 0 %}
                    <span class="offer-text city text-dark">Все города</span>
                {% else %}
                    {% for city in cities %}
                    <span class="offer-text text-dark city">{{ city }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <hr>
    <p class="mt-4"><span class="big-text ">Отзывы:</span></p>
    <div class="container">
        {% if staff.reviews.all.count > 0 %}
        {% for review in staff.reviews.all %}
        <div class="row justify-content-center mt-3 mb-4">
            <div class="col-10 review pt-2 rounded">
                <p class=" label-text fw-bolder"><a href="{% url 'order_respond_login' order_id=review.order.id telegram_id=staff.telegram_id  %}" class="text-dark">{{ review.order.name }}</a><br>
                    <span class="offer-text text-muted">Оценка: {% for i in review.rating|range_rating %}<i class="bi bi-star-fill text-warning"></i>{% endfor %}</span></p>
                <p class="label-text">{{ review.text|linebreaksbr }}</p>
                <p class="add-text mt-2 text-muted text-end me-4">{{ review.date }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="label-text">Отзывов пока что нет</p>
        {% endif %}
    </div>

</div>


</main>
<footer class="footer mt-auto">
    <div id="footer" class="container-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <span class="text-light label-text">Caketeam ©</span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><a class="text-light" href="#">Пользовательское соглашение</a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><i class="bi bi-instagram"></i> <a class="text-light" href="#">caketeam </a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <br><span class="text-light offer-text">Тех.поддержка:</span> <span class="text-light label-text"><i class="bi bi-telegram"></i> <a class="text-light" href="https://t.me/i1ness">@i1ness </a></span>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
<script type="text/javascript" src="{% static "js/profile_edit.js" %}"></script>
<script>
$(document).ready(function(){
    $("#add-city").on("click", function(e) {
    var city = $("#add-city-input").val().slice(2);
    var ifExist = $(`.delete-city[data-id='${city}']`);
    if (ifExist.length === 0) {
        $("#add-city-input").removeClass("is-invalid");
        $("#already-city").css("display", "none");
        $("#add-city-input").val("");
        $(this).prop("disabled", true);
        $.ajax({
                            type: "POST",
                            url: "/a/city",
                            data: {
                                telegram_id: '{{ staff.telegram_id }}',
                                city: `${city}`,
                                action: 'add',
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(result) {
                                console.log('City add');
                            },
                            error: function(result) {
                                console.log('error');
                            }
                        });
        setTimeout(function(){
        $("#cities").load(window.location.href + " #cities" );
        }, 300);
        setTimeout(function(){
        $("#cities1").load(window.location.href + " #cities1" );
        }, 300);
    } else {
        $("#add-city-input").val("");
        $("#add-city-input").addClass("is-invalid");
        $("#already-city").css("display", "block");
    }
    });

    $(document).on("click", ".delete-city", function(e) {
    $(this).parent().remove();
    var city = $(this).text().slice(0, -2);
    $.ajax({
                        type: "POST",
                        url: "/a/city",
                        data: {
                            telegram_id: '{{ staff.telegram_id }}',
                            city: `${city}`,
                            action: 'delete',
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(result) {
                            console.log('City delete');
                        },
                        error: function(result) {
                            console.log('error');
                        }
                    });
    setTimeout(function(){
    $("#cities").load(window.location.href + " #cities" );
    }, 500);
    setTimeout(function(){
    $("#cities1").load(window.location.href + " #cities1" );
    }, 500);
    });
});
</script>
</html>