<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Cписок пользователей</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
<div class="container">
    <form class="row mt-3" method="get">
        <div class="col-8 ">
            <div class="form-group form-control-sm">
                <input class="form-control form-control-sm" type="text" name="search">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group form-control-sm">
                <input class="btn btn-sm btn-outline-danger" type="submit" value="Фильтр">
            </div>
        </div>
    </form>
    <a href="{% url 'staff_list' %}" class="offer-text">сбросить фильтр</a>
</div>

{% if inactive.all.count > 0 %}
<h4 class="text-center mt-3">Неактивные:</h4>
{% endif %}

{% for i in inactive %}
<div id="{{ i.id }}" class="container-fluid border-bottom border-top pt-2">
        <div class="row">
            <div class="col-6">
                <p class="fw-bold lh-sm">{{ i.name}} {{ i.surname }}
                    <br> <small class="text-muted offer-text fa-6">Статус: <span class="badge bg-danger">Неактивен</span></small>
                    <br> <small class="text-muted offer-text">Регистрация: <b class="text-dark">{{ i.date|date:'d.m.Y H:i' }}</b></small>
                    <br> <small class="text-muted offer-text">Города: {{ i.cities }}</small>
                    <br>
                    <br><a href="{% url 'staff_activate' chat_id=i.telegram_id %}"><small class="offer-text text-primary fw-normal">Активировать</small></a><span class="label-text"> / </span><a href="{% url 'staff_delete' chat_id=i.telegram_id %}"><small class="offer-text text-danger fw-normal">Удалить</small></a>
                </p>
            </div>

            <div class="col-6">
                    <small class="text-muted offer-text">Tg: <a href="https://t.me/{{ i.username }}"><b class="text-dark">@{{ i.username }}</b></a></small>
                    <br><small class="text-muted offer-text">Insta: <a href="https://instagram.com/{{ a.instagram }}"><b class="text-dark">@{{ i.instagram }}</b></a></small>
                    <br> <small class="text-muted offer-text">WA: <a href="https://wa.me/{{ a.phone }}"><b class="text-dark">{{ i.phone }}</b></a></small>
                    <br> <small class="text-muted offer-text">Откликов: {{ i.responds.all.count }}</small>
                     <small class="text-muted offer-text">Заданий: {{ i.orders.all.count }}</small>

                </p>
            </div>
        </div>
</div>
{% endfor %}

{% if active.all.count > 0 %}
<h4 class="text-center mt-3">Активные:</h4>
{% endif %}

{% for a in active %}
<div id="{{ a.id }}" class="container-fluid border-bottom border-top pt-2">
        <div class="row">
            <div class="col-6">
                <p class="fw-bold lh-sm">{{ a.name}} {{ a.surname }}
                    <br> <small class="text-muted offer-text">Статус: <span class="badge bg-success">Активен</span></small>
                    <br> <small class="text-muted offer-text">Регистрация: <b class="text-dark">{{ a.date|date:'d.m.Y H:i' }}</b></small>
                    <br> <small class="text-muted offer-text">Города: {{ a.cities }}</small>
                    <br>
                    <br><a href="{% url 'staff_deactivate' chat_id=a.telegram_id %}"><small class="text-danger offer-text fw-normal">Деактивировать</small></a>
                </p>
            </div>

            <div class="col-6">
                    <small class="text-muted offer-text">Tg: <a href="https://t.me/{{ a.username }}"><b class="text-dark">@{{ a.username }}</b></a></small>
                    <br><small class="text-muted offer-text">Insta: <a href="https://instagram.com/{{ a.instagram }}"><b class="text-dark">@{{ a.instagram }}</b></a></small>
                    <br> <small class="text-muted offer-text">WA: <a href="https://wa.me/{{ a.phone }}"><b class="text-dark">{{ a.phone }}</b></a></small>
                    <br> <small class="text-muted offer-text">Откликов: {{ a.responds.all.count }}</small>
                     <small class="text-muted offer-text">Заданий: {{ a.orders.all.count }}</small>
                </p>
            </div>
        </div>
</div>
{% endfor %}

</main>
<footer class="footer mt-auto">
    <div id="footer" class="container-fluid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <span class="text-light label-text">Caketeam ©</span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><a class="text-light" href="#">Пользовательское соглашение</a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-light offer-text"><i class="bi bi-instagram"></i> <a class="text-light" href="#">caketeam </a></span>
                </div>
                <div class="col-12 text-center mt-2">
                    <br><span class="text-light offer-text">Тех.поддержка:</span> <span class="text-light label-text"><i class="bi bi-telegram"></i> <a class="text-light" href="https://t.me/i1nes">i1nes </a></span>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>